body{
    background-color:darkseagreen;
    border: inset;
    padding: 2%;
   
}

h1 {
font-size: 200%;
}
p{
    font-size: large;
    
}

#Div_hero{
    background-color:cadetblue;
    margin-bottom: 12px;
    padding: 10px;
}
